%div.page-header
  = link_to "Novo lembrete", new_reminder_path, :class => 'btn btn-warning pull-right'
  %h3 Lembretes

%table.table.table-striped.table-condensed
  %tr
    %th Name
    %th Time
    %th Days
    %th Start at
    %th{:colspan => "3"}
  -if not @reminders.present?
    =render "layouts/search", rota_modelo: reminders_url
  - else
    - @reminders.each do |reminder|
      %tr
        %td= reminder.name
        %td= reminder.time
        %td= reminder.days
        %td= reminder.start_at
        %td= link_to '', reminder, class: 'glyphicon glyphicon-search', 'data-toggle' => 'modal'
        %td= link_to '', edit_reminder_path(reminder), class: 'glyphicon glyphicon-edit'
        %td= link_to '', reminder, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'glyphicon glyphicon-remove-circle'