%p#notice= notice

%p
  %b Name:
  = @doctor.name
%p
  %b Specialty:
  = @doctor.specialty
%p
  %b Phone:
  = @doctor.phone
%p
  %b Adress:
  = @doctor.adress
%p
  %b Complemento:
  = @doctor.complemento

= link_to 'Edit', edit_doctor_path(@doctor)
\|
= link_to 'Back', doctors_path
